.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-title {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-bottom: 16px;
}

.form-input {
  box-sizing: border-box;
  padding-left: 16px;
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}

.form-input:hover {
  /* border-color: #000; */
}

.form-input:focus {
  border-color: #4e75ff;
}

.fieldset {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 360px;
  height: 64px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-bottom: 24px;
  padding-top: 24px;
  padding-bottom: 8px;
  box-sizing: border-box;
  position: relative;
}

.fieldset:hover {
  border-color: #000;
}

.field-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.fieldset-radio {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #2e2f42;
}

.fieldset-title {
  position: absolute;
  top: -10px;
  left: 16px;
  background-color: #fff;
  padding: 0 4px;
  font-size: 14px;
  color: #2e2f42;
}

input[type='radio'] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: transparent;
}

button:hover {
  background: #6c8cff;
}
